.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 40px 20px;
    background-color: #f3f3f3;
    justify-content: center;
}